.owl-nav{
    button{
        position: absolute;
        top: 50%;
        z-index: 4;
        color: white !important;
        font-size: 85px !important;
        height: 100%;
        transform: translateY(-50%);
        width: 100px;
        outline: none;
    }
    .owl-prev{
        left: 0px;
    }
    .owl-next{
        right: 0px;
    }
}
.owl-dots{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    button{
        width: 8px;
        height: 8px;
        margin-right: 10px;
        background-color: #ffc155 !important;
        border-radius: 100%;
        opacity: .4;
        outline: none;
        &:hover{
            opacity: 1;
        }
    }
    button.active{
        opacity: 1;
    }
}
.write-wp{
    position: fixed;
    bottom: 0;
    background-color: #67B02D;
    width: 100%;
    z-index: 99;
    a{
        color: white;
        width: 100%;
        display: inline-block;
    }
}