#slider{
    margin-top: 181px;
    position: relative;
    .item{
        height: 580px;
        position: relative;
        .content{
            background-color: rgba(255, 255, 255, 0.84);
            position: absolute;
            z-index: 2;
            top: 100px;
            right: 80px;
            display: block;
            width: 530px;
            padding: 50px;
            h1{
                font-size: 50px;
                color: #343434;
                margin: 0;
            }
            p{
                width: 100%;
                padding: 10px 0 30px 0;
                margin: 0;
                color: #343434;
                font-size: 17px;
            }
            a{
                transition: all .3s ease;
                i{
                    margin-left: 20px;
                    transform: translateY(1px);
                    transition: all .3s ease;
                    font-size: 18px;
                }
                &:hover{
                    font-weight: bold;
                    i{
                        transform: translateY(1px) translateX(8px);
                    }
                }
            }
        }
    }
    .owl-nav{
        button:first-child, button:last-child{
            &::before{
                position: absolute;
                content: '';
                background-color: white;
                opacity: 0;
                top: 51%;
                transform: translateY(-50%);
                width: 60px;
                height: 125px;
                transition: all .3s ease;
            }
            &:hover{
                &::before{
                    opacity: .5;
                }
            }
        }

        button:first-child{
            left: -30px;
            &::before{
                border-bottom-right-radius: 250px;
                border-top-right-radius: 250px;
                right: 12px;
                border-left-color: transparent;
            }
        }
        button:last-child{
            right: -30px;
            &::before{
                border-bottom-left-radius: 250px;
                border-top-left-radius: 250px;
                left: 12px;
                border-right-color: transparent;

            }
        }
    }
    .owl-carousel .owl-loaded .owl-drag{
        overflow: hidden;
    }
}